.table-context-tips{
  height: 18px;
  background-size: auto;
  padding: 8.5px 4px;
}


.delete-container{
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.delete-container .table-context-delete{
  display: block;
  width: 16px;
  height: 16px;
  margin: 8px auto 0;
  /* padding: 8.5px 4px; */
  background: url('./imgs/delete.png') no-repeat center center;
  background-size: 100% 100%;
}