{
  "sourceMaps": true,
  "sourceMap": true,
  "presets": [
    [
      "@babel/preset-env"/* ,
      {
        "targets": {
          "node": false
        }
      } */
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
